body {
	overflow-x: hidden;
}

p#rechthoek {
	background-color: #A9D5D4;
    height: 267px;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 270px;
    left: 50%;
    bottom:50px;
}

img.home-header {
    position: absolute;
    top: 14.9%;
    left: 51.9%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 655px;
    height: 222px;
}

h1.bold {
	font-family: "Arial", Source, serif;
    font-weight: bold;
    word-spacing: 2px;
	position: relative;
	top: -550px;
	font-size: 28.8px;
	left: 470px;	
}

p.header-text {
	font-family: "Arial", Source, serif;
	position: relative;
	top: -575px;
	font-size: 13.8px;
    word-spacing: 2px;
	left: 472px;
}

h2.blok-header {
	font-weight: 700;
    font-family: "Arial", Source, serif;
	position: relative;
	color: 	#373239;
	padding-left: 18px;
	padding-top: 16px;
    font-size: 21px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

img.top-left {
	float: left;
	padding-left: 16px;
	padding-right: 18px;
	padding-bottom: 20px;
    height: 165px; 
    width: 165px;
}

img.top-left-c1 {
    float: left;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 10px;
    height: 165px; 
    width: 165px;
}

img.top-middle-c1 {
    float: left;
    padding-left: 1px;
    padding-right: 15px;
    padding-bottom: 9px;
    height: 120px; 
    width: 150px;
}

img.bottom-right-c1 {
    float: right;
    padding-left: 10px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 120px; 
    width: 155px;
}

img.top-left-h1 {
    float: left;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 20px;
    height: 165px; 
    width: 245px;
}

img.mid-right-h1 {
    float: right;
    position: relative;
    padding-left: 18px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 165px; 
    width: 245px;
}

img.bottom-left-h1 {
    float: left;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 165px; 
    width: 245px;
}

img.top-right-ac1 {
    float: right;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 20px;
    height: 165px; 
    width: 230px;
}

img.bottom-left-ac1 {
    float: left;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 165px; 
    width: 130px;
}

img.bottom-left-ac2 {
    float: left;
    padding-left: 1px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 90px; 
    width: 125px;
}

img.top-left-s1 {
    float: left;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 10px;
    height: 165px; 
    width: 165px;
}

img.bottom-right-s1 {
    float: right;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 20px;
    height: 125px; 
    width: 185px;
}

img.bottom-right-s2 {
    float: right;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 18px;
    padding-bottom: 20px;
    height: 125px; 
    width: 145px;
}

p.blok-text {
	position: relative;
    color: #151B26;
	font-family: "Arial", Source, serif;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 19px;
	font-size: 13.8px;
}

div.blok {
	background-color: white;
    height: 500px;
    width: 43.5%;
    position: relative;
    bottom: 422px;
    left: 30.2%;
}

ul.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 24.2%;
    width: 33%;
    left: 460px;
    font-size: 11px;
    word-spacing: 1px;
}

li {
    float: left;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: blue;
}