* {
  margin: 0;
}


.container {
  background-color: #A9D5D4;
  width: 100%;
  height: 324px;
  position: relative;
}

.header {
  margin: 0 auto;
  background-image: url(/css/grfx/header.jpg);
  width: 797px;
  height: 268px;
}

li {
  float: left;
  padding-right: 27px;
  margin: 0px;
}

ul li a {
    text-decoration: none;
    color: white;
}

li a {
  padding-top: 159px;
  padding-bottom: 42px;
  float: left;
}

ul {
  list-style-type: none;

}

.vbalk {
  background-color: white;
  color: black;
  font-style: arial;
  margin: 0 auto;
  width: 800px;
  height: 400px;
  z-index: 10;
  text-align: left;
}

.top-left {
  float: left;
  clear: left;
  padding-left: 23px;
  padding-top: 22px;
  padding-right: 23px;
  padding-bottom: 24px;
  width: 200px;
  height: 200px;
}

h2 {
  float: left;
  clear: left;
}

.nunc {
  padding-top: 48px;
  padding-left: 23px;
  width: 700px;

}

.h2 {
  padding-left: 22px;
}

.right {
  float: right;
  padding-left: 45px;
  padding-right: 23px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.tl {
  width: 300px;
}

.vbalk1 {
  background-color: white;
  color: black;
  font-style: arial;
  margin: 0 auto;
  width: 800px;
  z-index: 10;
  text-align: left;
}

.nunc1 {
  padding-top: 30px;
  padding-left: 23px;
  width: 700px;
}

.vloot3 {
    width: 400px;
    float: left;
    clear: left;
    padding-left: 23px;
    padding-top: 22px;
    padding-right: 23px;
    padding-bottom: 24px;
    height: 200px;
}
