body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#header {
 	margin-left: 20%;
 	position: relative;
 }

 div.blueBackground {
 	position: fixed;
 	background-color: #A9D5D4;
 	width: 100%;
 	height: 320px;
	margin-top: -0.3%;
}

.content {
	margin-left: 20%;
	margin-top: -0.3%;
	width: 58.2%;
	position: absolute;
	background-color: white;
	padding-left: 15px;
}

.contentImg {
	float: left;
	padding-right: 15px;
}

.vloot2 {
	float: right;
	padding-right: 15px;
	padding-left: 10px;
}

.top-menu {
	position: absolute;
	top: 200px; 
	margin-left: 18.5%; 
	width: 100%;
}

li {
	display: inline;
	padding-right: 20px;
}

a {
	color: white;
	text-decoration: none;
}

.headerTitle {
	position: absolute;
	margin-top: -21%;
	margin-left: 21%;
	line-height: 5px;
}